{ "presets": ["stage-0"],
  "plugins": ["transform-runtime"],
  "ignore":[
    "jquery.js",
    "jquery.min.js",
    "angular.js",
    "angular.min.js",
    "bootstrap.js",
    "bootstrap.min.js"
  ]}