.icon-lg {
    font-size: 1.333em;
    line-height: 1.095em;
    vertical-align: middle;
}

.icon-md {
    font-size: 1.0em;
    line-height: 1em;
    vertical-align: middle;
}

.icon-md {
    font-size: 0.83em;
    line-height: 1.0em;
    vertical-align: middle;
}