@import "./nicety-variables";
.notify-alert-warp {
    position: relative;
    .notify-alert-div {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        background-color: rgba(255, 255, 255, 0.75);
        text-align: center;
        .notify-alert-content {
            background: rgba(0, 0, 0, 0.5);
            width:100%;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .notify-alert-div:before {
        content: "";
        display: inline-block;
        height: 100%;
        width: 1px;
        vertical-align: middle;
        margin-left: -5px;
    }
}
