@import "./nicety-variables"; 
.navbar{
    @extend .pt-0;
    @extend .pb-0;
}
.navbar-expand {
    @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);
        &#{$infix} {
            .navbar-nav {
                @include media-breakpoint-up($next) {
                    .nav-link {
                        padding: $nav-link-padding-y $nav-link-padding-x;
                    }
                }
            }
        }
    }
}

.navbar-dark {
    .navbar-nav {
        .nav-link {
            @include hover-focus {
                background-color: $navbar-dark-hover-backgroundcolor;
            }
            &.disabled {
                background-color: transparent;
            }
        }
        .show>.nav-link,
        .active>.nav-link,
        .nav-link.show,
        .nav-link.active {
            background-color: $navbar-dark-hover-backgroundcolor;
        }
    }
    .navbar-text {
        a {
            @include hover-focus {
                background-color: $navbar-dark-hover-backgroundcolor;
            }
        }
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            @include hover-focus {
                background-color: $navbar-light-hover-backgroundcolor;
            }
            &.disabled {
                background-color: transparent;
            }
        }
        .show>.nav-link,
        .active>.nav-link,
        .nav-link.show,
        .nav-link.active {
            background-color: $navbar-light-hover-backgroundcolor;
        }
    }
    .navbar-text {
        a {
            @include hover-focus {
                background-color: $navbar-light-hover-backgroundcolor;
            }
        }
    }
}