$dashboard-layout-nar-bar-height: 2.5rem !default;

.dashboard-body {
  .page {
    .header-tab {
      .nav-tabs { //main tab 样式
        //height: $dashboard-layout-nar-bar-height;
        background: $gray-100;
        border-bottom: 1px solid #c5c5c5;

        .nav-item {
          user-select: none;
          border-right: 1px solid #c5c5c5;
        }

        .nav-link {
          border: 0;

          * {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: default;
          }

          .close-tab {
            transition: 0.3s;

            &:hover {
              transform: rotate(90deg) scale(1);
              color: $gray-600;
            }

            cursor: pointer;
          }

          &:hover,
          &.active {
            background: $white;
            border-bottom: 2px $white solid;
          }
        }
      }
    }
  }
}

#dashboard-app.fixed-header.fixed-left-sider.fixed-footer.fixed-nav-tabs {
  .page {
    overflow: hidden;

    > .wrapper {
      height: 100%;
      position: relative;
      padding-top: $dashboard-layout-nar-bar-height;
      margin-top: $dashboard-layout-nar-bar-height*-1;
      top: $dashboard-layout-nar-bar-height;

      .header-tab {
        top: 0;
        position: absolute;
        width: 100%;

      }

      > .wrapper {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }
}
