html {
    font-size: 12px;
}

a {
    &:focus {
        outline: none;
    }
}

body {
    line-height: 1.2em;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}


/**
* 滚动条样式
**/

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

 ::-webkit-scrollbar-track,
 ::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 3px solid transparent;
}

 ::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;
}

 ::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset;
}

 ::-webkit-scrollbar-corner {
    background: transparent;
}