#dashboard-app {
  > footer {
    border-top: 1px solid #e6e6e6;
    box-sizing: border-box;
    background-color: #f3f3f3;
    color: #595959;
    font-size: 1em;
    text-align: center;
    padding: 0.5em;
  }
}