@import "./nicety-variables.scss"; 

.card {
    $enable-shadows: true;
    .card-header.bar {
        padding: 0em;
        position: relative;
        height: 2.8em;
        line-height: 1.5; 

        @include clearfix;
        .card-title {
            float: left; 
            font-size: 1.2em;
            padding: 0.5em;
            font-weight: 500;
            margin-bottom: 0rem;
        }
        .card-control {
            position: relative;
            float: right;
            font-size: 0;
            button {
                font-size: 1rem;
                border-radius: 0px;
                height: 100%;
                background: transparent;
                &:hover {
                    background: #ffffff;
                    @include transition(transition-base)
                }
            }
            height: 100%
        }
    }
    &:hover {

        @include card-box-shadow($card-box-shadow);
        @include transition($card-hover-transition);
    }
}