$--index-normal: 1 !default;
$--index-top: 1000 !default;
$--border-radius-base:$border-radius;
//$--color-white:$white;
$--border-color-light:$light;
$--border-radius-circle: 100% !default;
//$--color-text-placeholder: #c0c4cc !default;
//$--color-text-secondary:$secondary;
/* Select
-------------------------- */
$--select-border-color-hover: $input-focus-border-color !default;
$--select-disabled-border: $input-border-color !default;
$--select-font-size: 1rem !default;
$--select-close-hover-color: $secondary !default;

$--select-input-color: $input-color !default;
$--select-multiple-input-color: #666 !default;
$--select-input-focus-background: $input-focus-border-color !default;
$--select-input-font-size: 14px !default;

$--select-option-color: $yiq-text-dark !default;
$--select-option-disabled-color: #c0c4cc !default;
$--select-option-disabled-background: $white !default;
$--select-option-height: 34px !default;
$--select-option-hover-background: lighten($primary, 50%) !default;
$--select-option-selected: $primary !default;
$--select-option-selected-hover: $--select-option-hover-background !default;

$--select-group-color: $info !default;
$--select-group-height: 30px !default;
$--select-group-font-size: 12px !default;

$--select-dropdown-background: $white !default;
$--select-dropdown-shadow: $box-shadow-sm !default;
$--select-dropdown-empty-color: #999 !default;
$--select-dropdown-max-height: 274px !default;
$--select-dropdown-padding: 6px 0 !default;
$--select-dropdown-empty-padding: 10px 0 !default;
$--select-dropdown-border: solid 1px $input-border-color !default;

@import "./nicety-select-dropdown";
@import "./nicety-option";
@import "./nicety-option-group";

.nicety-icon-arrow-up {
  font: normal normal normal 14px/1 FontAwesome;
}

.nicety-icon-arrow-up::before{
  content:"\f106"
}

@include b(select) {
  display: inline-block;
  position: relative;

  .nicety-select__tags
  >span {
    display: contents;
  }

  &:hover {
    .nicety-input__inner {
      border-color: $--select-border-color-hover;
    }
  }

  .nicety-input__inner {
    cursor: pointer;
    padding-right: 35px;

    &:focus {
      border-color: $--select-input-focus-background;
    }
  }

  .nicety-input {
    .form-control[readonly]{
      background-color: $white;
    }

    & .nicety-select__caret {
      color: $--select-input-color;
      font-size: $--select-input-font-size;
      transition: transform .3s;
      transform: rotateZ(180deg);
      cursor: pointer;

      @include when(reverse) {
        transform: rotateZ(0deg);
      }

      @include when(show-close) {
        font-size: $--select-font-size;
        text-align: center;
        transform: rotateZ(180deg);
        border-radius: $--border-radius-circle;
        color: $--select-input-color;
        transition: $--color-transition-base;

        &:hover {
          color: $--select-close-hover-color;
        }
      }
    }

    &.is-disabled {
      & .nicety-input__inner {
        cursor: not-allowed;

        &:hover {
          border-color: $--select-disabled-border;
        }
      }
    }

    &.is-focus .nicety-input__inner {
      border-color: $--select-input-focus-background;
    }
  }

  > .nicety-input {
    display: block;
  }

  @include e(input) {
    border: none;
    outline: none;
    padding: 0;
    margin-left: 15px;
    color: $--select-multiple-input-color;
    font-size: $--select-font-size;
    appearance: none;
    height: 28px;
    background-color: transparent;
    @include when(mini) {
      height: 14px;
    }
  }

  @include e(close) {
    cursor: pointer;
    position: absolute;
    top: 8px;
    z-index: $--index-top;
    right: 25px;
    color: $--select-input-color;
    line-height: 18px;
    font-size: $--select-input-font-size;

    &:hover {
      color: $--select-close-hover-color;
    }
  }

  @include e(tags) {
    position: absolute;
    line-height: normal;
    white-space: normal;
    z-index: $--index-normal;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .nicety-tag__close {
    margin-top: -2px;
  }

  .nicety-tag {
    box-sizing: border-box;
    border-color: transparent;
    margin: 2px 0 2px 6px;
    background-color: #f0f2f5;

    &__close.nicety-icon-close {
      background-color: $--color-text-placeholder;
      right: -7px;
      top: 0;
      color: $--color-white;

      &:hover {
        background-color: $--color-text-secondary;
      }

      &::before {
        display: block;
        transform: translate(0, .5px);
      }
    }
  }
}
