@import "./bootstrap-variables.scss"; 
$navbar-dark-hover-backgroundcolor: rgba($cyan, .9) !default;
$navbar-light-hover-backgroundcolor: rgba($cyan, .4) !default;
$card-box-shadow:0 0rem 1rem rgba(0, 0, 0, 0.175) !default;
$card-hover-transition:all .2s ease-in;

$dashboard-layout-header-height: 3.5em !default;//布局header部分高度
$dashboard-layout-header-background-color: #2D5F8B !default;//布局header部分高度
$dashboard-layout-header-background-color: rgb(24, 223, 67) ;//布局header部分高度
$dashboard-layout-footer-height: 2.5em !default;//布局footer部分高度
$dashboard-layout-left-side-width: 17em!default;//布局footer部分高度
$dashboard-layout-left-side-background: linear-gradient(to right,#4276A4 100%,#4276A4 100%)!default;//布局footer部分高度