#app {
    height: 100%;
    position: absolute;
    width: 100%;
    padding-top: 2.34em;
    padding-bottom: 5em;
    .app-body {
        overflow: auto;
        height: 100%;
        padding: 1em;
        background-color: #f3f3f3;
    }
    .navigator-side {}
}

body {
    display: flex;
    #dashboard-app {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        box-sizing: border-box;
        overflow: hidden;
        min-height: 100vh; //兼容IE10+ 使得高度最大化
        header {
            display: flex;
            position: relative;
            flex-direction: row;
            flex-grow: 0;
            flex-shrink: 0;
            height: $dashboard-layout-header-height;
            background: $dashboard-layout-header-background-color;
            .header-bar {
                flex-grow: 1;
                >div {
                    @extend .float-right;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                }
                button {
                    @extend .btn;
                    @extend .btn-outline-primary;
                    @extend .text-light;
                    height: 100%;
                    border-radius: 0;
                    border-width: 0;
                    font-size: 1.5em;
                }
                .dropdown-toggle:after {
                    content: none;
                }
            }
            .aside-header {
                width: $dashboard-layout-left-side-width;
                background: $dashboard-layout-header-background-color;
                height: $dashboard-layout-header-height;
                .sidebar-toggler {
                    @extend .btn;
                    @extend .btn-outline-primary;
                    @extend .float-right;
                    height: 100%;
                    font-size: 1.5em;
                    color: cornsilk;
                }
            }
        }
        .dashboard-body {
            display: flex;
            flex-direction: row;
            background: $gray-200;
            flex-grow: 1;
            flex-shrink: 1;
            overflow: hidden;
            .aside-left {
                background: $dashboard-layout-left-side-background;
                width: $dashboard-layout-left-side-width;
            }
            main {
                overflow: hidden;
                flex: 1;
                .content {
                    display: block;
                    overflow: auto;
                    height: 100%;
                }
            }
        }
        .footer {
            flex-grow: 0;
            flex-shrink: 0;
            position: relative;
            height: $dashboard-layout-footer-height;
            padding: 0.5em;
            line-height: 1.5;
            border-top: 1px solid #e6e6e6;
            box-sizing: border-box;
            background-color: #f3f3f3;
            color: #595959;
            font-size: 1em;
            text-align: center;
        }
    }
    #dashboard-app.fixed-header {
        header {
            @extend .fixed-top;
        }
        .dashboard-body {
            padding-top: $dashboard-layout-header-height;
        }
    }
    #dashboard-app.fixed-footer {
        .footer {
            @extend .fixed-bottom;
        }
        .dashboard-body {
            padding-bottom: $dashboard-layout-footer-height;
        }
    }
    #dashboard-app.fixed-left-sider {
        .aside-header {
            position: fixed;
            z-index: 1;
        }
        .footer {
            margin-left: $dashboard-layout-left-side-width;
        }
        .dashboard-body {
            .aside-left {
                display: block;
                position: fixed;
                z-index: 1;
                width: $dashboard-layout-left-side-width;
                overflow: hidden;
                top: $dashboard-layout-header-height;
                bottom: 0;
                nav {
                    height: 100%;
                    overflow: auto;
                }
            }
            main {
                height: 100%;
                display: block;
                padding-left: $dashboard-layout-left-side-width;
            }
        }
    }
    #dashboard-app.fixed-left-sider.fixed-header {
        .dashboard-body {
            main {
                height: 100%;
                width: 100%;
                overflow: hidden;
            }
        }
    }
    #dashboard-app.fixed-left-sider.fixed-header.fixed-footer {
        .dashboard-body {
            main {
                position: absolute;
                margin-top: $dashboard-layout-header-height*-1;
                padding-top: $dashboard-layout-header-height;
                padding-bottom: $dashboard-layout-footer-height;
            }
        }
    }
}