@import "./nicety-variables.scss";

.notify-alert-warp {
    position: relative;
    .notify-alert-div {

        @include transition($card-hover-transition);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        background-color: rgba(255, 255, 255, 0.75);
        text-align: center;
        .notify-alert-content {
            background: rgba(0, 0, 0, 0.5);
            width:100%;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            padding: 20px;
            >div{
                .alert-message{
                    color: $gray-100;
                    font-size: 1.5rem;
                    margin-bottom: 20px;
                    text-align: left;
                }
                .alert-operation{
                    text-align: right;
                }
                .alert-cancel{
                    @extend .btn !optional;
                    @extend .btn-secondary !optional;
                }
                .alert-confirm{
                    @extend .btn !optional;
                    @extend .btn-primary !optional;
                }
                width:700px;
                display: inline-block;
            }
        }
    }
    .notify-alert-div:before {
        content: "";
        display: inline-block;
        height: 100%;
        width: 1px;
        vertical-align: middle;
        margin-left: -5px;
    }
}
