@import "./nicety-variables.scss";

html,
body {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

/***
布局方案描述：
默认情况下整个布局区域的最小高度为100vh
header 部分靠上显示，postion 方式为绝对布局，z-index:1000，宽度100%
body 部分中间显示，最小高度为100vh, 上部偏移 header 部分高度，宽度100%
footer 布局方式靠底部显示，position：绝对布局，宽度100%
整体布局方式由内而外的撑高。
如果出现滚动，header+body+footer 整体滚动。
 */
#dashboard-app {
  min-width: 290px;
  max-width: 100vw;
  position: relative;
  min-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  > header {
    position: absolute;
    height: $dashboard-layout-header-height;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  > footer {
    height: $dashboard-layout-footer-height;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
  }
  > .dashboard-body {
    position: relative;
    padding-top: ($dashboard-layout-header-height);
    margin-top: ($dashboard-layout-header-height*-1);
    top: $dashboard-layout-header-height;
    padding-bottom: $dashboard-layout-footer-height;
    margin-bottom: ($dashboard-layout-header-height)-($dashboard-layout-footer-height);
    min-height: 100vh;
  }
}

#dashboard-app.fixed-header {
  > header {
    position: fixed;
  }
}

#dashboard-app.fixed-footer {
  > footer {
    position: fixed;
  }
  .dashboard-body {
    margin-bottom: $dashboard-layout-header-height;
  }
}

#dashboard-app.fixed-left-sider {
  header {
    left: $dashboard-layout-left-side-width;
    .header-bar {
      padding-left: 0;
      margin-left: 0;
    }
  }
  .aside-header {
    display: none;
  }
  .dashboard-body {
    .aside-left {
      position: fixed;
      height: 100vh;
    }
  }
}


#dashboard-app.fixed-header.fixed-left-sider.fixed-footer {

  & > header {
    left: 0;
    .aside-header {
      display: block;
    }
    & > .header-bar {
      padding-left: $dashboard-layout-left-side-width;
      margin-left: $dashboard-layout-left-side-width*-1;
    }
  }

  .dashboard-body {
    .aside-left {
      position: fixed;
      padding-top: $dashboard-layout-header-height+( $dashboard-layout-footer-height);
      margin-top: ($dashboard-layout-header-height+( $dashboard-layout-footer-height))*-1;
      top: $dashboard-layout-header-height;

    }
    overflow: auto;
    .page {
      padding-top: $dashboard-layout-header-height+( $dashboard-layout-footer-height);
      margin-top: ($dashboard-layout-header-height+( $dashboard-layout-footer-height))*-1;
      overflow: hidden;
      height: 100vh;
      > div {
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
      }
    }

  }
}

body > .mCSB_scrollTools_vertical,
.aside-left > .mCSB_scrollTools_vertical {
  margin-top: $dashboard-layout-header-height !important;
  margin-bottom: $dashboard-layout-footer-height !important;
}
