
.nicety.tag {
  cursor: pointer;
  display: inline-block;
  line-height: 1em;
  font-size: .85rem;
  vertical-align: baseline;
  background: $gray-300 none;
  padding: .5833rem .833rem;
  color: $gray-700;
  text-transform: none;
  font-weight: 700;
  border: 0 solid transparent;
  border-radius: 2px;
  transition: background .1s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 .5rem .5rem 0;
  i {
    opacity: .8;
    margin-left: .5rem
  }
}

.nicety.tag:first-child {
  margin-left: 0
}

.nicety.tag:last-child {
  margin-right: 0
}

.nicety.tag:not(.attached):hover {
  color: $gray-800;
  background: $gray-400
}

.nicety.tag.circle {
  border-radius: 50em
}

.nicety.tag.floating {
  position: absolute;
  z-index: 100;
  top: -1em;
  left: 100%;
  margin: 0 0 0 -1em !important;
  padding: .4em .5em
}

.nicety.tag.attached {
  position: absolute;
  padding: .5em .75em;
  font-size: 1em;
  border-radius: 0;
  margin: 0;
  border: 1px solid transparent;
  z-index: 10
}

.nicety.tag.attached.bottom,
.nicety.tag.attached.top {
  width: 100%;
  left: 0
}

.nicety.tag.attached.bottom.left,
.nicety.tag.attached.bottom.right,
.nicety.tag.attached.top.left,
.nicety.tag.attached.top.right {
  width: auto
}

.nicety.tag.attached.bottom.right,
.nicety.tag.attached.top.right {
  right: 0;
  left: auto
}

.nicety.tag.attached.top {
  top: 0
}

.nicety.tag.attached.bottom {
  bottom: 0
}
