$navbar-dark-hover-backgroundcolor: rgba($cyan, .9) !default;
$navbar-light-hover-backgroundcolor: rgba($cyan, .4) !default;
$card-box-shadow:0 0rem 1rem rgba(0, 0, 0, 0.175) !default;
$card-hover-transition:all .2s ease-in;