.navbar-dark {
    .navbar-nav {
        .nav-link {
            @include hover-focus {
                background-color: $navbar-dark-hover-backgroundcolor;
            }
            &.disabled {
                background-color: transparent;
            }
        }
        .show>.nav-link,
        .active>.nav-link,
        .nav-link.show,
        .nav-link.active {
            background-color: $navbar-dark-hover-backgroundcolor;
        }
    }
    .navbar-text {
        a {
            @include hover-focus {
                background-color: $navbar-dark-hover-backgroundcolor;
            }
        }
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            @include hover-focus {
                background-color: $navbar-light-hover-backgroundcolor;
            }
            &.disabled {
                background-color: transparent;
            }
        }
        .show>.nav-link,
        .active>.nav-link,
        .nav-link.show,
        .nav-link.active {
            background-color: $navbar-light-hover-backgroundcolor;
        }
    }
    .navbar-text {
        a {
            @include hover-focus {
                background-color: $navbar-light-hover-backgroundcolor;
            }
        }
    }
}