#app {
    height: 100%;
    position: absolute;
    width: 100%;
    margin-top: -2.34em;
}

.page-footer {
    min-height: 60px;
    padding: 10px;
    line-height: 1.5;
    border-top: 1px solid #e6e6e6;
    box-sizing: border-box;
    background-color: #f3f3f3;
    color: #595959;
    font-size: 12px;
    text-align: center;
}

.navigator-side {}